.app__template {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.todo__add-btn {
    margin: 0 auto;
    border: 2px solid transparent;
    padding: 10px 15px;
    cursor: point;
    background-color: #ddd;
    outline: none;
    
    &:hover {
        background-color: #aef3ac;
    }

    &:active {
        border: 2px solid #52e04d;
    }
}
